*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --cell-size:100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}
body{
    margin:0;
}
.board{
    width:var(--cell-size);
    height: var(--cell-size);
    display: grid;
    justify-content: center; 
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #3333;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;
}
.cell.x::before,
.cell.x::after{
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: rgb(121, 96, 96);
}
.my-showboard{
    color: blue;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: saddlebrown;
}
.cell.x::before{
    transform: rotate(45deg);
}
.cell.x::after{
    transform: rotate(-45deg);
}
